<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">IIGS Sikh Internation Youth Camp</h4>
            <p class="category">Camp Management</p>
          </div>
          <div class="content">
            <p>Select a Camp number and menu item to manage the camp's activities</p>
            <p>
              <span class="category">Emergency Contacts</span>

              <li>
                <a href="tel:+919818218640">+91 981-821-8640</a> (Bhupinder Singh - Camp Management)</li>
              <li>
                <a href="tel:+16473361149">+1 647-336-1149</a> (Gagandeep Singh - Technical Support)</li>
              <li>
                <a href="tel:+919311541854">+91 931-154-1854</a> (Kaviraj Singh - Escalations)</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
